html, body {
    margin : 0;
    background-color: ghostwhite;
}

h3 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 35px;
}

.arrow {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

section {
    margin: auto;
}

/*#region header*/

header {
    height: 900px;
    background-image: url("masthead.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: normal;
}

h1+p {
    color: white;
}

#full-haut {
    max-width: 1170px;
    padding: 50px 20px;
    margin: auto;
}

#full-top {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 639px) {
    #iphone {
        display: none;
    }
}

/*#endregion*/

/*#region section start-stg-new*/

#start-stg-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    overflow: hidden;
    padding: 80px 20px;
}

/*#endregion*/

/*#region section design-quality*/

#design-quality {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
}

.dq {
    color: white;
    margin: 0 20px;
    height: 260px;
    padding: 50px;
}

.dq1 {
    background-color: palevioletred;
}

.dq2 {
    background-color: cornflowerblue;
}

.dq3, .dq7 {
    background-image: url("image01.jpg");
    background-size: cover;
    background-position : center;
}

.dq4 {
    background-color: purple;
}

.dq5 {
    background-image: url("image02.jpg");
    background-size: cover;
    background-position : center;
}

.dq6 {
    background-color: green;
}

/*#endregion*/

/*#region section look-details*/

#look-detail {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    padding: 80px 20px;
}

/*#endregion*/

/*#region section more-power*/

#more-power {
    background-image : url("fullimage.jpg");
    background-size: cover;
    background-position : center;
    height: 700px;
    padding: 50px 20px;
}

/*#endregion*/

/*#region section reasons*/

#reasons {
    display: flex;
    flex-direction: column;
    background-color : lightgreen;
    color : white;
    padding: 50px 20px;
}

.taille-max {
    max-width: 1170px;
    margin: auto;
}

/*#endregion*/

/*#region section go-it-solo*/

#go-it-solo {
    display: flex;
    flex-direction : column;
    max-width: 1170px;
    padding: 50px 20px;
}

h5 {
    font-size: 35px;
    margin: 0;
    font-weight: normal;
}

.cadre-prix {
    padding: 40px;
}

.cadreblanc {
    background-color: white;
}

.buy {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightgreen;
    padding: 5px 20px;
    border-radius: 3px;
}

.logo {
    padding-left: 20px;
    transform: translateY(25%);
}

.legacy {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 5px;
    border-radius: 3px;
}

.cadre-gris {
    background-color: grey;
}

.cadre-violet {
    background-color: mediumpurple;
}

/*#endregion*/

/*#region footer*/

ul {
    list-style-type: none;
}

footer {
    background-color: blue;
    color: white;
    padding: 50px 20px;
}

#top-footer {
    display: flex;
    flex-direction: column;
}

#bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    background-color: lightgreen;
    border: 1px solid lightgreen;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    height: 50px;
    width: 50px;
    transform: translateY(7%);
}

#recherche {
    box-sizing: border-box;
    height: 50px;
    border-radius: 4px 0 0 4px;
}


/*#endregion*/